.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo{
    width: 100px;
}

.nav-items>ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}

.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
}

.Search{
    padding: 10px;
    width: 300px;
    font-size: 20px;
}



.res-logo{
    width:60%;
}